<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Protonotif - Add protonmail account</title>
        <meta name="description" content="Add a protonmail account">
    </head>
    <body>
        <h1>Protonotif</h1>
        <h3>Add a protonmail account</h3>
        <form action="/addaccount" method="post">
            <input type="email" id="email" name="email" placeholder="email">
            <input type="password" id="password" name="password" placeholder="password"/>
            <input type="submit" value="Add">
        </form> 
    </body>
</html>
