<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Protonotif - Login</title>
        <meta name="description" content="Login">
    </head>
    <body>
        <h1>Protonotif</h1>
        <h3>Login</h3>
        <p>Enter your protonotif password to login</p>
        <form action="/login" method="post">
            <input type="password" id="password" name="password" placeholder="password"/>
            <input type="submit" value="Login">
        </form> 
    </body>
</html>
